@import "tailwindcss";

body {
  background: linear-gradient(-45deg, #02042b, #1e1b4b, #4c1d95, #060144);
  background-size: 400% 400%;
}

.razorpay-container {
  z-index: 9999 !important;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
#__next {
  isolation: isolate;
}
